* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work sans", sans-serif;
}

html {
  font-size: 62.5%;
  /*1rem= 10px*/
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow: hidden;
}
.header {
  opacity: 80%;
  background-color: black;
  padding: 0 4.8rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  opacity: 80%;
  background-color: black;
  padding: 0 4.8rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 2%; */
}

.header .navbar {
  color: white;
  transition: 0.5s;
}

.header .logo {
  user-select: none;
  -webkit-user-drag: none;
  margin-left: 8%;
  height: 5rem;
}
.footer .logo {
  color: #99c34d;
  height: 5rem;
}
.navbar-list {
  color: white;
  display: flex;
  gap: 4.8rem;
  list-style: none;
}
.navbar-list-footer {
  color: white;
  display: flex;
  gap: 4.8rem;
  list-style: none;
  height: 10%;
  width: 10%;
}

ul li {
  color: white;
  cursor: pointer;
  position: relative;
  text-align: center;
}

li.underline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #99c34d;
  left: 0;
  bottom: -7px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  animation: appear 0.2s linear;
}
@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.navbar-link:link,
.navbar-link:visited {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3s;
}

.mobile-navbar-btn {
  z-index: 9999;
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  position: relative;
  z-index: 9999;
  color: rgb(107, 111, 121);
  width: 5rem;
  height: 5rem;
}

.mobile-nav-icon[name="close-circle-outline"] {
  display: none;
}

.instagram,
.facebook,
.linkedin {
  color: green;
  width: 3.5rem;
  height: 3.5rem;
}

/*Responsive Navbar*/

@media (min-width: 200px) and (max-width: 480px) {
  .mobile-navbar-btn {
    padding-right: -20%;
    display: block;
    z-index: 999;
    border: 3px;
  }

  .navbar-link:link,
  .navbar-link:visited {
    color: black;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s;
  }
  .header {
    padding-right: 0%;
    opacity: 1;
    position: relative;
  }
  .header .logo {
    height: 3rem;
    width: 8.5rem;
    margin-left: -5%;
  }

  .navbar {
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5 linear;

    visibility: hidden;
    pointer-events: none;
  }

  .active .navbar {
    transform: translateX(0%);
    visibility: visible;
    pointer-events: auto;
    transition: 0.5s;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-circle-outline"] {
    z-index: 9999;
    padding-right: 0%;
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    z-index: 9999;
    padding-right: 0%;
    display: none;
  }

  .navbar-list {
    background-color: white;
    color: black;
    flex-direction: column;
    align-items: center;
  }

  .instagram,
  .facebook,
  .linkedin {
    height: 2rem;
    width: 2rem;
  }
  .mobile-nav-icon {
    height: 4rem;
    width: 4rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /*low res tabs and ipads*/
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*tablets ipad potrait mode*/
}
@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 1281px) {
  /*for everything*/
}
